[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
server-id=1
log_bin=mysql-bin
binlog_format=mixed
expire_logs_days=7
binlog_cache_size=1m
sync_binlog=1
innodb_support_xa=1
innodb_flush_log_at_trx_commit=1
slave_skip_errors=1062
binlog-ignore-db=mysql
