[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
server-id=2
log_bin=mysql-bin
relay-log=relay-bin
binlog_format=mixed
expire_logs_days=7
binlog_cache_size=1m
sync_binlog=1
slave_skip_errors=1062
binlog-ignore-db=mysql
log_slave_updates=1
read_only=1