[mysqld]
server_id=101  
binlog-ignore-db=mysql  
log-bin=replicas-mysql-slave1-bin  
binlog_cache_size=1M  
binlog_format=mixed  
expire_logs_days=7  
slave_skip_errors=1062  
relay_log=replicas-mysql-relay-bin  
log_slave_updates=1  
read_only=1  
